APP_NAME=search
APP_PORT=14050
LOG_PATH=./logs

# elasticsearch or opensearch
SEARCH_ENGINE=elasticsearch
SEARCH_ENGINE_NODES=http://192.168.0.4:9203,http://192.168.0.5:9203,http://192.168.0.11:9203

#SEARCH_ENGINE=opensearch
#SEARCH_ENGINE_NODES=https://192.168.0.21:42156

SEARCH_ENGINE_USERNAME=admin
SEARCH_ENGINE_PASSWORD=Cheerup0704!